@import "tailwindcss";
:root {
  --color-background: #f6f8f8;
  --color-surface: #ffffff;

  --color-primary: #13c8ec;
  --color-highlight: #fef1aa;

  --color-text-primary: #202c4a;
  --color-text-secondary: #9a9fab;

  --color-border: #e2e8f0;
  --color-hover: #d1f0f6;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
